/* reseteo */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: 'Press Start 2P', system-ui;
}

/* imagen de fondo (tiene que estar en la carpeta de estilos) */

body {
  background-image: url(/assets/arcade.png);
}

/* Como centrar un div -midudev- */

main {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* ////////////////////////////////////////// */

/* Diseño contenedor card */

.questions-card {
  width: 28rem;
  background-color: #ffffff;
  padding: 2rem;
  border: 2px solid black;
  border-radius: 16px;
  overflow: hidden;
  height: auto;
  letter-spacing: 1px;
  box-shadow: 0 4px;
}

/* Diseño PREGUNTAS card */

.questions-card h2 {
  font-family: 'Press Start 2P', system-ui;
  text-align: left;
  font-size: 2rem;
}

/* Diseño DIV - RESPUESTAS card */

#answerButtons {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Diseño TODAS LAS RESPUESTAS card */

.option {
  width: 100%;
  padding: 0.8em 1.5em;
  background-color: #5ed8f03b;
  font-size: 1.25rem;
  border-radius: 0.25rem;
  margin: 0.7rem 0 0 0;
  letter-spacing: 1px;
  font-weight: bold;
  box-shadow: 0 2px;
  cursor: pointer;
  transition: transform 0.2s;
}

/* Animación / hover botón */

.option:hover {
  transform: scale(1.05);
}

/*DISEÑO DIV DE TODOS LOS BOTONES - INFERIORES*/

.BtnsDiv {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

/*DISEÑO DE TODOS LOS BOTONES - INFERIORES*/

.logic-button {
  padding: 0.8em 1.5em;
  border: 2px solid black;
  border-radius: 1.5em;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  box-shadow: 0 2px;
  cursor: pointer;
  margin: 0.7rem 0 0 0;
}

/*DISEÑO BOTÓN NEXT*/

#nextBtn {
  background-color: rgb(255 168 203);
  transition: transform 0.2s;
}

/*DISEÑO BOTÓN GO HOME*/

#goHomeBtn {
  background-color: rgb(140 174 196 / 30%);
  transition: transform 0.2s;
}

/*DISEÑO BOTÓN SHOW RESULTS*/
#showResultsBtn {
  background-color: rgb(140 174 196 / 30%);
  transition: transform 0.2s;
}

/* Animación / BOTÓN NEXT */
#nextBtn:hover {
  background-color: rgb(252, 255, 94);
  transform: scale(1.1);
}

/* Animación / BOTÓN GO HOME */
#goHomeBtn:hover {
  background-color: rgb(163 252 254);
  transform: scale(1.1);
}

/* Animación / BOTÓN SHOW RESULTS */
#showResultsBtn:hover {
  background-color: rgb(110 251 97);
  transform: scale(1.1);
}
